[core]
    editor = hvim

[user]
    name = f1zm0
    username = f1zm0
    email = root@fzm.ooo
    signingkey = 6479575141766A20

[init]
    defaultBranch = main

[pull]
    rebase = true

[gpg]
    program = gpg

[commit]
    gpgsign = true
